.settings-drawer-wrapper {
  position: sticky;
  display: flex;
  justify-content: right;
  padding: 0.5rem;
  z-index: 10;
}

.landing-page {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
  color:  #023480;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.landing-page::after {
  content: "";
  opacity: 0.4;
  background-image: url("./assets/images/landingpagehome.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}
