
.workout-page {
    text-align: center;
}

.workout-page::after {
    content: "";
    opacity: 0.4;
    background-image: url("../../assets/images/landingpagehome.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

.workout-search {
    display: flex;
    justify-content: center;
}

.exercise-input {
    background-color: antiquewhite;
    padding: 2rem;
    border: solid 3px #023480;
    border-radius: 10px;
    label {
        font-size: 1.3rem;
        margin: 0 1rem;
    }
    select {
        margin: 0 1rem;
    }
    Button {
        margin: 0 1rem;
    }
}

.both-ex-wo {
    display: flex;
    justify-content: space-around;
    margin: 1rem 2rem;
    .my-workout {
        display: block;
        width: 35%;
    }
    .exerciseList {
        display: block;
        width: 35%;
    }
}
