.signup {
    margin: auto 0;
    .chakra-heading {
        margin-bottom: 0.5rem;
    }
    Input {
        border-color: #023480;
    }
}

.signupBtn {
    margin: 1rem auto;
    display: flex !important;
}

.error {
    flex-direction: row;
    margin: auto;
}